@font-face {
	font-family: 'PT Sans';
	src: url('pts55f_w.eot');
	src: local('PT Sans'), url('PTS55F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	src: url('pts75f_w.eot');
	src: local('PT Sans Bold'), url('PTS75F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('ptn57f_w.eot');
	src: local('PT Sans Narrow'), url('PTN57F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url('ptn77f_w.eot');
	src: local('PT Sans Narrow Bold'), url('PTN77F_W.woff') format('woff');
}
.sidebar-nav {
    padding: 9px 0;
}
.container {
    padding: 0 0.9cm;
    box-shadow: 0 0 0.7em #222222;
}
.content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 5px 0;

}
.nav-list > li {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;

}
.row-fluid .span3.banner {
    margin-left: 0px;
    padding-top: 18px;
    width: 220px;
}
h1, h2 {
    font-family: 'PT Sans', sans;
}
h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans;
}

body {
  	background-attachment: fixed;
  	background: url(../img/bg.gif) repeat fixed;
  	padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEE;
    box-shadow: 0 0 0.7em #222222;
}

.hero-unit {
  background-image: url(../img/photo_head.jpg);
  background-position: 0% 46.001%;
  box-shadow: inset 0 0 1em #222;
  border-radius: 0 0 10px 10px;
}
.hero-unit h1,
.hero-unit p {
  color: #2c3e50;
}

.nav-list > li.nav-header {
    font-family: 'PT Sans Narrow', sans;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}
#main img,
#news img,
#agenda img,
#sponsors img,
#pay img,
#contacts img{
	height: 20px;
    padding-right: 1ex;
    margin-top: -6px;
}
#news img{
    margin-top: -4px !important;
}
#pay img{
    margin-top: -5px !important;
}
